@font-face {
    font-family: 'PT Serif', serif;
    src: url(fonts.googleapis.com/css?family=PT+Serif);
}

body {
  margin: 20px;
  font-family: 'PT Serif';
}

#allTasks {
  padding-top: 50px;
}

.delete, p, #checkbox {
  display: inline-block;
  padding-right: 5px;
}

.checked {
  font-style: italic;
  opacity: 0.50;
}

.praiseTheSun {
  background-image: url('/images/xZ2sEbd.gif');
}
